html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  /* margin: 7% 5% 0 5%; */
  /* max-width: 1200px; */
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 20% 5% 0 5%;
  }
}
